GEMINI_API_KEYS=YOUR_GEMINI_API_KEY

NEXT_PUBLIC_SUPABASE_URL=YOUR_SUPABASE_URL
SUPABASE_SERVICE_ROLE_KEY=YOUR_SUPABASE_SERVICE_ROLE_KEY

GREEN_API_URL=https://7107.api.greenapi.com
GREEN_API_ID_INSTANCE=YOUR_GREEN_API_ID_INSTANCE
GREEN_API_TOKEN=YOUR_GREEN_API_TOKEN